params {

  // DEFAULT PARAMETERS
  // * = multiple comma-separated variables allowed

  // Options: Quality-Control
  qc_key_colname = 'manifest'
  qc_factor_vars = 'individual' // *
  qc_min_library_size = 200
  qc_max_library_size = 'adaptive'
  qc_min_features = 200
  qc_max_features = 'adaptive'
  qc_max_mito = 0.1
  qc_min_ribo = 0
  qc_max_ribo = 1
  qc_min_counts = 2
  qc_min_cells = 2
  qc_drop_unmapped = true
  qc_drop_mito = true
  qc_drop_ribo = true
  qc_nmads = 4.0

  // Options: Ambient RNA Profiling
  amb_find_cells = true
  amb_lower = 100
  amb_retain = 'auto'
  amb_alpha_cutoff = 0.001
  amb_niters = 10000
  amb_expect_cells = 3000

  // Options: Multiplet Identification
  mult_find_singlets = true
  mult_singlets_method = 'doubletfinder'
  mult_vars_to_regress_out = 'nCount_RNA,pc_mito'
  mult_pca_dims = 10
  mult_var_features = 2000
  mult_doublet_rate = 0
  mult_dpk = 8
  mult_pK = 0.005

  // Options: Integration
  integ_method = 'Liger'
  integ_unique_id_var = 'manifest'
  integ_take_gene_union = false
  integ_remove_missing = true
  integ_num_genes = 3000
  integ_combine = 'union'
  integ_keep_unique = false
  integ_capitalize = false
  integ_use_cols = true
  integ_k = 30
  integ_lambda = 5.0
  integ_thresh = 0.0001
  integ_max_iters = 100
  integ_nrep = 1
  integ_rand_seed = 1
  integ_knn_k = 20
  integ_k2 = 500
  integ_prune_thresh = 0.2
  integ_ref_dataset = 'NULL'
  integ_min_cells = 2
  integ_quantiles = 50
  integ_nstart = 10
  integ_resolution = 1
  integ_dims_use = 'NULL'
  integ_dist_use = 'CR'
  integ_center = false
  integ_small_clust_thresh = 0

  // Options: Integration report
  integ_categorical_covariates = 'manifest,pathological_diagnosis,sex' 
  integ_input_reduced_dim = 'UMAP'

  // Options: Merge
  merge_plot_vars = 'total_features_by_counts,total_counts,pc_mito,pc_ribo'
  merge_facet_vars = 'NULL' // *
  merge_outlier_vars = 'total_features_by_counts,total_counts' // *

  // Options: Dimensionality Reduction
  reddim_input_reduced_dim = 'PCA,Liger' // *
  reddim_reduction_methods = 'tSNE,UMAP,UMAP3D' // *
  reddim_vars_to_regress_out = 'nCount_RNA,pc_mito' // *
  // umap
  reddim_umap_pca_dims = 50
  reddim_umap_n_neighbors = 35
  reddim_umap_n_components = 2
  reddim_umap_init = 'spectral'
  reddim_umap_metric = 'euclidean'
  reddim_umap_n_epochs = 200
  reddim_umap_learning_rate = 1
  reddim_umap_min_dist = 0.4
  reddim_umap_spread = 0.85
  reddim_umap_set_op_mix_ratio = 1
  reddim_umap_local_connectivity = 1
  reddim_umap_repulsion_strength = 1
  reddim_umap_negative_sample_rate = 5
  reddim_umap_fast_sgd = false
  // tsne
  reddim_tsne_dims = 2
  reddim_tsne_initial_dims = 50
  reddim_tsne_perplexity = 150
  reddim_tsne_theta = 0.5
  reddim_tsne_stop_lying_iter = 250
  reddim_tsne_mom_switch_iter = 250
  reddim_tsne_max_iter = 1000
  reddim_tsne_pca_center = true
  reddim_tsne_pca_scale = false
  reddim_tsne_normalize = true
  reddim_tsne_momentum = 0.5
  reddim_tsne_final_momentum = 0.8
  reddim_tsne_eta = 1000
  reddim_tsne_exaggeration_factor = 12

  // Options: Clustering
  clust_cluster_method = 'leiden'
  clust_reduction_method = 'UMAP_Liger'
  clust_res = 0.001
  clust_k = 50
  clust_louvain_iter = 1

  // Options: Celltype Annotation
  cta_clusters_colname = 'clusters'
  cta_cells_to_sample = 10000
  // Options: Celltype Metrics Report
  cta_unique_id_var = 'individual'
  cta_clusters_colname = 'clusters'
  cta_celltype_var = 'cluster_celltype'
  cta_facet_vars = 'manifest,pathological_diagnosis,sex'
  cta_metric_vars = 'pc_mito,pc_ribo,total_counts,total_features_by_counts'

  // Options: Differential Gene Expression
  dge_de_method = 'MASTZLM' // *
  dge_mast_method = 'glm'
  dge_min_counts = 1
  dge_min_cells_pc = 0.1
  dge_rescale_numerics = true
  dge_pseudobulk = false
  dge_celltype_var = 'cluster_celltype'
  dge_sample_var = 'manifest'
  dge_dependent_var = 'pathological_diagnosis'
  dge_ref_class = 'Control'
  dge_confounding_vars = 'cngeneson,pc_mito' // *
  dge_random_effects_var = 'NULL'
  dge_force_run = false

  // Options: Differential Gene Expression
  dge_fc_threshold = 1.1
  dge_pval_cutoff = 0.05
  dge_n_label = 5

  // Options: Integrated Pathway Analysis
  ipa_reference_file = 'NULL'
  ipa_enrichment_tool = 'WebGestaltR'
  ipa_enrichment_method = 'ORA'
  ipa_enrichment_database = 'GO_Biological_Process' // *

  // Options: Dirichlet Modeling
  dirich_unique_id_var = 'individual'
  dirich_celltype_var = 'cluster_celltype'
  dirich_dependent_var = 'pathological_diagnosis_original'
  dirich_ref_class = 'Control'
  dirich_var_order = 'NULL' // *

  // Options: Plots (Reduced Dim)
  plotreddim_reduction_methods = 'UMAP_Liger' // *

  // Options: Miscellaneous
  species = 'human'

}
